<ion-header no-border>
  <ion-navbar color="primary">
      <ion-buttons left>
          <button ion-button icon-only (click)="navCtrl.pop({animate: true, animation:'pingu', direction: 'back'});" class="button-navbar">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title text-center>
        <img class="logo-navbar" src="assets/img/Pistachei-logo-transparente.png" />
      </ion-title>
      <ion-buttons right>
        <button ion-button outline (click)="goSobrePistacheiPage();" class="button-navbar bar-button-round">
            &nbsp;<ion-icon name="help"></ion-icon>&nbsp;
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="bg">
    <ion-grid justify-content-around class="total">
      <ion-row class="all-messages center-row">
        <ion-col col-11 class="container">
            <div class="message" *ngIf="starts[0]">
              <span class="message-content" typingAnimation [typeSpeed]="30" [condition]="starts[0]" [startDelay]="0" [hideCursorOnComplete]="true" (complete)="onComplete()">
                Vamos te ajudar a encontrar o smartphone que mais combina com seu cotidiano!
              </span>
            </div>
            <br />
            <div class="message" *ngIf="starts[1]"> 
              <span class="message-content" typingAnimation [typeSpeed]="30" [condition]="starts[1]" [startDelay]="1000" [hideCursorOnComplete]="true" (complete)="onComplete()">
                Quer saber como?
              </span>
            </div>
            <br />
            <div class="message" *ngIf="starts[2]"> 
              <div class="message-content">
              <span typingAnimation [typeSpeed]="30" [condition]="starts[2]" [startDelay]="1000" [hideCursorOnComplete]="true" (complete)="onComplete()">
                Você irá fazer comparações de acordo com o que é mais útil e importante,
              </span>
              <span typingAnimation [typeSpeed]="30" [condition]="starts[3]" [startDelay]="0" [hideCursorOnComplete]="true" (complete)="onComplete()">
                  além de colocar o quanto deseja pagar no smartphone.
              </span>
              </div>
            </div>
            <br />
            <div class="message" *ngIf="starts[4]"> 
              <span class="message-content" typingAnimation [typeSpeed]="30" [condition]="starts[4]" [startDelay]="1000" [hideCursorOnComplete]="true" (complete)="onComplete()">
                As comparações são entre câmera, tela, desempenho, bateria e armazenamento interno.
              </span>
            </div>
            <br />
            <div class="message" *ngIf="starts[5]"> 
              <span class="message-content" typingAnimation [typeSpeed]="30" [condition]="starts[5]" [startDelay]="1000" [hideCursorOnComplete]="false" (complete)="onComplete()">
               A partir desses dados, iremos mostrar os smartphones que mais combinam com você! :)
              </span>
            </div>
          </ion-col>
      </ion-row>

      <ion-row text-center>
        <ion-col>
          <div class="footer">
            <button ion-button color="dark" (click)="goEscolhaPage();" text-center large round>Entendi! </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
