page-instrucoes{
  .bg{
    background: color($colors, primary);
    display: flex
  }

  .total {
      height: 100%;
      width: 100%;
      align-self: center;
  }

  .fonte{
    font-size: 3.5rem;
  }

  .center{
    height: 85%;
    align-content: center;
    align-items: center;
  }

  .center-col{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .typewriter {
    display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}
}
