page-instrucoes{
  .bg{
    background: color($colors, primary);
    display: flex
  }

  .total {
    height: 100%;
    width: 100%;
    align-self: center;
}

  H1{
    font-size: 2.85vh;
  }

  .line-break{
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal;
  }

  .center{
    height: 85%;
    align-content: center;
    align-items: center;
  }
}
