<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="chat"></ion-back-button>
        <!-- <ion-button routerLink="/" router-direction="back" shape="round" class="white button-navbar">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button> -->
      </ion-buttons>
    <ion-title text-center>
        <img class="logo-navbar" src="assets/img/Pistachei-logo-transparente.png" />
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button shape="round" fill="outline" class="white button-navbar" style="width: 35px; height: 35px;">
          <ion-icon slot="icon-only" name="help"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="transition-fix"></div>

<ion-content padding>
  <ion-text color="dark" text-center class="selector">
    <h1>Outros smartphones que combinam com você </h1>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-content scrollX="true">
              <ion-card *ngFor="let item of listofSmartphones">
                <ion-card-content>
                  <ion-card-title>
                    {{ item.title }}
                    </ion-card-title>
                  <button ion-item >            
                    Características
                    <ion-icon name="arrow-forward" item-right color="primary"></ion-icon>
                  </button>
                </ion-card-content>
              </ion-card>
            </ion-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
