page-escolha {
    .bg{
        background: linear-gradient(to bottom, color($colors,primary) 70%, color($colors, light));
    }

    .cabecalho{
        width: 100%;
    }

    .total {
        height: 100%;
        width: 60%;
        align-content: center;
    }

    .fonte{
        font-size: 3rem;
        overflow: hidden;
        margin: auto;
        white-space: normal;
        animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
        text-overflow: ellipsis;
        flex-wrap: wrap;
    }

    .icons_bateria {
      font-size: 33px;
      width:30px;
      height: auto;
      text-align: center;
    }

    .icons_arquivo {
      font-size: 28px;
      width:30px;
      height: auto;
      text-align: center;
    }

    .icons_tela {
      font-size: 33px;
      width:30px;
      height: auto;
      text-align: center;
    }

    .icons_camera {
      font-size: 30px;
      width:30px;
      height: auto;
      text-align: center;

    }

    .icons_desempenho {
      font-size: 30px;
      width:30px;
      height: auto;
      text-align: center;
    }

    ion-row {
      height: 100px;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: color($colors, primary) }
    }

}
