.total {
  max-width: 800px;
  align-self: center;
  margin: 0 auto;
  padding-top: 2rem;
}

.chat-left{
  flex-grow: 1;
  text-align: left;
}

.chat-right{
  flex-grow: 1;
  text-align: right;
}

.options{
  min-height: 5rem;
  display: flex;
  padding: 0.5rem;
}

.option-list{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 0 auto;
}