<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="chat"></ion-back-button>
        <!-- <ion-button routerLink="/" router-direction="back" shape="round" class="white button-navbar">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button> -->
      </ion-buttons>
    <ion-title text-center>
        <img class="logo-navbar" src="assets/img/Pistachei-logo-transparente.png" />
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button shape="round" fill="outline" class="white button-navbar" style="width: 35px; height: 35px;">
          <ion-icon slot="icon-only" name="help"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="transition-fix"></div>
<ion-content>
  <ion-grid> <!-- slot="fixed">-->
    <ion-row>
      <ion-col>
        <div>
          <h1 text-center>Encontramos o melhor smarthphone para você!</h1>
        </div>
        <div>
          <ion-img text-center src="https://i.imgur.com/EIPnoMy.jpg" id="celular"></ion-img>
        </div>
        <div>
          <h1 text-center>Celular de suco!</h1>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col size="0.5">
          <ion-img text-center src="https://cdn4.iconfinder.com/data/icons/round-circle/100/circle-36-512.png" id="nextPage"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light" class="options">
    
  </ion-toolbar>
</ion-footer>
