<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg">
    <ion-grid justify-content-around class="bg total center-col">
  
      <ion-row class="center">
        <ion-col class="center-col">
          <ion-img class="logo" src="assets/img/Pistachei-logo-transparente.png"></ion-img>
          <div ion-text class="slogan" text-center>
            <span>
              Encontre o celular perfeito para você! 
            </span>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row text-center>
        <ion-col>
            <ion-button class="startbutton" routerLink="/chat" color="dark" shape="round" size="large" strong>
              Começar
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

